---
// @ts-ignore
import { Icon } from "astro-icon/components";

const systemFeatures = [

  {
    title: "Plan 1 - $200",
    description:
      "Incluye autenticación, 4 módulos gestionables, roles y permisos. Ideal para proyectos pequeños o medianos. No incluye alojamiento.",
    icon: "bx:bxs-package",
  },
  {
    title: "Plan 2 - $400",
    description:
      "Incluye autenticación, 10 módulos gestionables, roles y permisos. Una solución más robusta para proyectos más grandes. No incluye alojamiento.",
    icon: "bx:bxs-layer",
  },
  {
    title: "Plan 3 - Precio a Convenir",
    description:
      "Elaboramos sistemas con características adicionales según las necesidades del cliente. Contáctanos para una cotización personalizada.",
    icon: "bx:bxs-customize",
  },
];

const advisoryFeatures = [
  {
    title: "Asesoría Personalizada - $5/hora",
    description:
      "Ofrecemos asesoría experta en planificación de proyectos, definición de tecnologías, y creación de planes de trabajo.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Soporte Continuo",
    description:
      "Te acompañamos durante todo el proceso con soporte continuo, respondiendo a tus consultas y resolviendo tus dudas.",
    icon: "bx:bxs-chat",
  },
];

---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Servicios a la Medida de tus Necesidades
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Ofrecemos soluciones personalizadas en desarrollo de sistemas y asesoría en programación y tecnología.
  </p>
</div>

<section class="mt-16">
  <h3 class="text-3xl font-semibold mb-6">Elaboración de Sistemas a Medida</h3>
  <p class="text-lg mt-4 text-slate-600 mb-4">
    Desarrollamos sistemas personalizados con autenticación, módulos gestionables, roles y permisos, adaptados a tus necesidades específicas.
  </p>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-16">
    {
      systemFeatures.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h4 class="font-semibold text-lg">{item.title}</h4>
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>

<section class="mt-16">
  <h3 class="text-3xl font-semibold mb-6">Asesorías</h3>
  <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-16">
    {
      advisoryFeatures.map((item) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h4 class="font-semibold text-lg">{item.title}</h4>
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
